div {
    background-color: red;
    color: white;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
p {
    background-color: green;
    color: white;
    font-size: 22px;
    
}
button {
    background-color:orange;
    border-color: gray;
    font-weight: bold;
}