p {
    font-weight:bold;
}
p:nth-of-type(1) {
    font-size: 36px;
}
p:nth-of-type(2) {
    font-size: 16px;
}
button:nth-of-type(1) {
    background-color: green;
    color: white;
}
button:nth-of-type(2) {
    background-color: white;
}
.parent{
    font-size: 30px;
    font-weight: lighter;

}
.child:nth-of-type(2) {
    font-size: 16px;
    font-weight:bold;
}