.main {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c18282;
    font-family: cursive;

}
.main-heading {
    color: white;
    text-shadow: 1px 1px 2px black;
}
.main-links a{
    color: white;
    text-decoration: solid;
    padding: 10px;
    text-shadow: 1px 1px 2px black;

}
.hero {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 2%;
    font-family: cursive;
    background-color: #f3d2d2;
    margin: 4px;
}