
body{
    margin: 0;
    font-family: Arial, sans-serif;
    
}
header {
    background-color: #0e2b48;
    
}
.top-bar {
    color: #ffffff;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}
.top-bar nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
.hero {
    color: #ffffff;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}
.hero h1 {
    font-size: 48px;
}
.hero img {
    height: auto;
    width: 200px;
    padding: 20px;
    padding-left: 200px;
    border-radius: 10%;
}

.info {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    justify-content: space-between;
}
.info h2 {
    margin-bottom: 20px;
}
.info-img {

    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.info-img img {
    width: 100px;
    height: auto;
    border: 3px solid rgb(140, 72, 241);
    border-radius: 10px;
}
.box{
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.about {
    background-color: #eeecec;
    display: flex;
    max-width: auto;
    height: 300px;
    align-items: center;
    justify-content: space-between;
}
.about-info {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 600px;
}
.about h3 {
    text-align: right;
}
.sign-up {
    background-color: #3578bb;
    border: 2px  #0e2b48;
    border-radius: 3px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 50px auto;
    width: 50%;
}
.sign-up-info {
    text-align:left;
    padding-right: 10%;
}
button {
    background-color: #3578bb;
    border-radius: 5px;
    color: #f4f5f6;
    font-size: 16px;
    border: 2px solid white;
    padding: 10px 20px;
    
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;  
}